.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
}

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores .rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-patrocinadores .rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-contatoForm .rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

.rodapePrincipal-navMap .rodapePrincipal-navMap-list {
    display: flex;
    /* flex-direction: column; /* Muda  direção para vertical *
    flex-wrap: wrap; Quando não caber mais no elemento pai quebre para a próxima coluna */
    flex-flow: column wrap;
    height: 250px;
}

.conteudoPrincipal .conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.conteudoPrincipal .conteudoPrincipal-cursos-link {
    width: 23%;
    margin-bottom: 1%;
}
